/* ============================= */
/* Root Theme Variables          */
/* ============================= */
:root {
  /* Colors */
  --main: #73a073;        /* Primary Green */
  --secondary: #999a96;   /* Neutral Gray */
  --third: #eedb61;       /* Accent Yellow */
  --font-light: #ececec;  /* Light Text */
  --font-dark: #2c2b2a;   /* Dark Text */

  --background: #ffffff;
  --foreground: var(--font-dark);

  /* Typography */
  --font-body: 'EB Garamond', serif;
  --font-header: 'Great Vibes', cursive;
}

/* ============================= */
/* Dark Mode                     */
/* ============================= */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--font-dark);
    --foreground: var(--font-light);
  }

  html {
    color-scheme: dark;
  }
}

/* ============================= */
/* Global Reset + Layout         */
/* ============================= */
html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ============================= */
/* Headings + Text               */
/* ============================= */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  color: var(--main);
}

p, li, span, a {
  font-family: var(--font-body);
  
}
